body {
	background-color: black;
    margin: 0;
    overflow: hidden;
    }
    
div {
    position: absolute;
    background-repeat: no-repeat;
 	/*border: 1px solid red;*/

	}
	
  * {
      font-family: "Andika Basic";
      cursor: pointer;

      -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
      -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  }
	