@font-face {
    font-family: "Andika Basic";
    src: url("../Andika Basic.ttf");
    font-weight: normal;
    font-style: normal;
	
}

* {
    font-family: "Andika Basic";
    cursor: pointer;

    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

root { 
    position: absolute;
    display: block;
}

body {
    background-color: black;
    margin: 0;
}

div {
    position: absolute;
    background-repeat: no-repeat;
    text-align: left;
	overflow: hidden;
}

image {
	border: 0px;
}

#options_sound{
	position: absolute;
	z-index: 0;
	left: 100px;
}
#options_difficulty_container{
	position: absolute;
	z-index: 0;
	left: 200px;
}
#options_clock_container{
	position: absolute;
	z-index: 0;
	left: 300px;
}
#options_language{
	position: absolute;
	z-index: 0;
	font-family: "andika_basicregular";
	font-size: 20px;	
}
#options_weight{
	position: absolute;
	font-size: 20px;	
	z-index: 0;
}
#options_currency{
	position: absolute;
	font-size: 20px;	
	z-index: 0;
}
#options_prompt{
	position: absolute;
	font-size: 20px;	
	z-index: 0;
}
input[type=checkbox] {
   position: absolute;
   height: 40px;
   width: 30px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
   //float:left;
   //padding-left: 10px;
   //    vertical-align: middle;
}
#maindiv {
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px; // 658px for admob version. can't do in code, otherwise: 768px;
}
